* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    padding: 40px;
    background: #e8ebf0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.badge {
    width: 35px;
    height: 35px;
    border-radius: 8px;
}

.badge.blue {
    background: #4A90E2;
}

.badge.green {
    background: #50C878;
}

.badge.pink {
    background: #E74C8C;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 140px);
    gap: 10px;
    border: 2px solid #000;
    padding: 10px;
    background: white;
    width: fit-content;
}

.box {
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.box1 {
    background: #FF5757;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box2 {
    background: #FF9B5A;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box3 {
    background: #FFA726;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.box4 {
    background: #9BC97B;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.box5 {
    background: #4DB6AC;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.box6 {
    background: #5B7C9E;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.box7 {
    background: #2B5876;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.header {
  width: 100%;
  height: 770px;
  background-color: #3e85f3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.title {
  font-family: inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 120px;
  line-height: 150px;
  letter-spacing: 0%;
}

.tspan{
font-family: Inter;
font-weight: 700;
font-style: Italic;
font-size: 120px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

li:not(:last-child){
    margin-left: 20px;
}