.box {
    width: 200px;
    height: 200px;
    background-color: aqua;

    transition-property: all;
    transition-duration: 5000ms;
    /* transition-delay: 3000ms; */
}

.box:hover { 
    background-color: blue;
    transform: scale(1.5);
}

/* .text {
    opacity: 0;
    transition: opacity 1s linear;
}

.text:hover {
    opacity: 1;
} */

.box2 {
    width: 200px;
    height: 200px;
    outline: 1px solid black;

    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
}

.box2__title {
    margin: 0;
    font-size: 1.2rem;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    box-sizing: border-box;
    

    transition: transform 0.5s ease;
    transform: translateX(-100%);
}

.box2:hover .overlay {
    transform: translateX(0);
}

.box2:hover .box2__title {
    opacity: 0;
}

.text {
    margin: 0;
}

@keyframes changeBackground {
    0% {
        background-color: aqua;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: aqua;
    }
}

@keyframes changePosition {
    0% {
        transform: skew(0);
    }
    50% {
        transform: skew(10deg);
    }
    100% {
        transform: skew(0);
    }
}

.box3 {
    width: 200px;
    height: 200px;
    outline: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
}

.box3:hover {
    animation-name: changePosition;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
