.container {
  width: 800px;
  height: 750px;
  margin: 100px auto 0 auto;
  border: 1px solid black;

  overflow: scroll;

  background: url("bg.jpg") rgba(47, 59, 43, 0.3) no-repeat;
  background-size: cover;
}

.container h2, .container p {
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    text-align: center;
}

p {
  font-size: 36px;
  color: rgb(0, 0, 0);
}

.title:hover::before {
  content: "‼️ ";
}

.title:hover::after {
  content: " ⚡";
}

.box-grad {
  width: 450px;
  height: 450px;
  margin: 100px auto 0 auto;
  border: 1px solid black;

  color: white;
  font-size: 36px;

  background: repeating-radial-gradient(
    circle at center,
    rgb(148, 16, 236),
    rgb(148, 16, 236) 10px,
    rgb(98, 225, 24) 10px,
    rgb(98, 225, 24) 20px
  );
}